{%if messages %}
{% for message in messages%}
 <h4>{{message}}</h4>
{% endfor %}
{% endif %}
<form id="form" method="post" enctype="multipart/form-data"  onSubmit="myFunc()">
    {% csrf_token %}
    <input type="hidden" name="user" id="user" value="{{user}}">
    
    <label for="project">Project</label>
    <select name="project" id="project">
        {% for project in projects %}
        <option value="{{ project.id }}">{{ project.name }}</option>
        {% endfor %}
    </select>
    
    <label for="startDate">Start Date</label>
    <input type="date" id="startDate" name="startDate">
    
    <label for="endDate">End Date</label>
    <input type="date" id="endDate" name="endDate">
    
    <label for="taskName">Enter the task</label>
    <input type="text" id="taskName" name="taskName" placeholder="Enter the task">
    
    <label for="status">Status of the Task</label>
    <select name="status" id="status">
        <option value="completed">Completed</option>
        <option value="progress">In progress</option>
        <option value="start">YET-TO-START</option>
    </select>
    
    <label for="accomplishments">Accomplishments</label>
    <input type="text" id="accomplishments" name="accomplishments" placeholder="Accomplishments">
    
    <label for="blockers">Concerns/Blockers</label>
    <input type="text" id="blockers" name="blockers" placeholder="Concerns/Blockers">
    
    <label for="document">Document</label>
    <input type="file" name="document" id="document">
    
    <button type="submit">Create Task</button>
</form>
<button id="addRow" onChange="addRow()">Add One more task</button>
<script>
    addRowElement=document.getElementById("addRow")
    foremElement= document.getElementById("form")
    function myFunc(event){
        event.preventDefault()
        console.log("Method called")
        console.log(foremElement.value)
    }

</script>

<a href="/statusReport/logout">Logout</a>
