
{% load static %}

<form id="form" enctype="multipart/form-data" onSubmit="onSubmit(event)">
    <input type="hidden" name="user" id="user" value="{{request.user.id}}">
    <input type="hidden" name="token" id="token" value="{{token}}">
    <ul id="accomplishments" name="accomplishments" style="list-style-type: none;">
        <li id="accomplishmentList1" name="accomplishmentList1">
            <label for="project1">Project</label>
            <select name="project1" id="project1">
                {% for key, value in projects.items %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            
            <label for="accomplishment1">Accomplishment</label>
            <input type="text" id="accomplishment1" name="accomplishment1" placeholder="Accomplishment">
        </li>
    </ul>
    <button type="button" onClick="addTaskRow()">Add One More Accomplishment</button>
    <button type="submit">Save</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let taskCounter = 2;
    const listElement = document.getElementById("accomplishmentList1")
    function addTaskRow() {
        const childListElement = document.createElement("li");
        childListElement.id = `accomplishment${taskCounter}`;
        childListElement.name = `accomplishment${taskCounter}`;
        childListElement.innerHTML = `<label for="project${taskCounter}">Project</label>
            <select name="project${taskCounter}" id="project${taskCounter}">
                {% for key, value in projects.items %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            <label for="accomplishment${taskCounter}">Accomplishment</label>
            <input type="text" id="accomplishment${taskCounter}" name="accomplishment${taskCounter}" placeholder="Accomplishment">

            <button  type="button" id="${taskCounter}" onClick="removeRow(event)">
                <span aria-hidden="true">&times;</span>
            </button>`;
        listElement.appendChild(childListElement);
        taskCounter++;
    }

    function removeRow(event){
        list = document.getElementById(`accomplishment${event.currentTarget.id}`);
        listElement.removeChild(list);
    }

    function onSubmit(event) {
        let data={}
        for (let i = 1; i < taskCounter; i++) {
            tempData={
                user:document.getElementById("user").value,
                project: document.getElementById(`project${i}`).value,
                accomplishments:document.getElementById(`accomplishment${i}`).value,
            }
            data[`accomplishment${i}`]=tempData
        }
        const token = document.getElementById("token").value;
        const headers = {
            "X-CSRFToken": token,
            "Content-Type": "application/json"
        };
        
        axios.post("/statusReport/createAccomplishments", data, { headers })
            .then(response => {console.log(response)})
            .catch(error => console.log(error));
    }
</script>
<a href="/statusReport/logout">Logout</a>
