{% load static %}
<body>
<h4>Concerns/Blockers are optional</h4>
<form id="form"  enctype="multipart/form-data" onSubmit="onSubmit(event)">
    <input type="hidden" name="token" id="token" value="{{token}}">
    <input type="hidden" name="user" id="user" value="{{request.user.id}}">
    <ul id="tasksLists" name="taskLists" style="list-style-type: none;">
        <li id="task1" name="task1">
            <label for="project1">Project</label>
            <select name="project" class="project">
                {% for key, value in projects.items %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            
            <label for="blockers">Concerns/Blockers</label>
            <input type="text" class="blockers" name="blockers" placeholder="Enter your Concerns/Blockers" required>
        </li>
    </ul>
    <button type="button" onClick="addTaskRow()">Add One More Concerns/Blockers</button>
    <button type="submit">Save</button>
</form>
<a href="/statusReport/logout">Logout</a>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let taskCounter = 2;
    const listElement = document.getElementById("tasksLists"); // Corrected the ID
    function addTaskRow() {
        const childListElement = document.createElement("li");
        childListElement.id = `task${taskCounter}`;
        childListElement.name = `task${taskCounter}`;
        childListElement.innerHTML = `
            <hr>
            <label for="project${taskCounter}">Project</label>
            <select name="project" class="project">
                {% for key, value in projects.items %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            <label for="blockers">Accomplishments/Blockers</label>
            <input type="text" class="blockers" name="blockers" placeholder="Enter your Accomplishments/Blockers" required>

            <button type="button" id="${taskCounter}" onClick="removeRow(event)">
                <span aria-hidden="true">&times;</span>
            </button>`;
        listElement.appendChild(childListElement);
        taskCounter++;
    }

    function removeRow(event){
        const list = document.getElementById(`task${event.currentTarget.id}`);
        listElement.removeChild(list);
    }
   
    function onSubmit(event){
        event.preventDefault()
        const user=document.getElementById("user").value
        const token=document.getElementById("token").value
        const projects=document.getElementsByClassName("project")
        const blockers = document.getElementsByClassName("blockers")
        data={}
        for(let i=0;i<projects.length;i++){
            const tempData={
                user: user,
                project:projects[i].value,
                blockers:blockers[i].value,
            }
            data[i+1]=tempData
        }
        const headers = {
            "X-CSRFToken": token,
            "Content-Type": "application/json"
        };
        
        axios.post("/statusReport/createBlockers", data, { headers })
            .then(response => {
                window.location.reload()
                alert("Concerns/Blockers Created successfully. You can view and edit your tasks until you finalize and submit")
            })
            .catch(error => alert(error));
    }
</script>
</body>
