<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Information</title>
    <link rel="stylesheet" href="{% static "css/members.css" %}">
</head>
<body>

<div class="header">
    <img src="{% static 'images/logo.png' %}" alt="ISSI Logo" width="50" height="50">
    <span>International Software Systems, Inc. Employee Information</span>
    <div class="profile">
        <span>Profile</span>
        <a href="#">Change Password</a>
        <a href="/statusReport/logout">Logout</a>
    </div>
</div>

<div class="container">
    <div class="sidebar">
        <a href="/statusReport/viewTasks">Dashboard</a>
        <a href="/statusReport/employInfo">Employee Info</a>
        <a href="/statusReport/createTask">Task</a>
        <a href="/statusReport/createAccomplishments">Accomplishments</a>
        <a href="/statusReport/createBlockers">Concerns/Blockers</a>
        <a href="/statusReport/documents">Documents</a>
        <a href="/statusReport/finalSubmit">Finalize and Submit</a>
    </div>
    <div class="content">
        <h2>Employee Information</h2>
        <div id="employee-info" class="section">
            <div class="form-group">
                <label for="name"><b>Full Name:</b></label>
                <p>{{request.user.first_name}} {{request.user.last_name}}</p>
            </div>
            <div class="form-group">
                <label for="employment-type"><b>Employment Type:</b></label>
                <p>{{request.user.empType}}</p>
            </div>
            <div class="form-group">
                <label for="department"><b>Department:</b></label>
                <p>{{request.user.empDept}}</p>
            </div>
            <div class="form-group">
                <label for="project-name"><b>Projects</b></label>
                <ul>
                    {% for key,value in projects.items %}
                        <li>{{value}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="form-group">
                <label for="manager"><b>Project Manager:</b></label>
                <ul>
                    {% for key,value in managers.items %}
                        <li>{{value}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
